<!-- intro section
================================================== -->
<section id="intro">

    <div class="intro-overlay"></div>

    <div class="intro-content">
        <div class="row">

            <div class="col-twelve">

                <h5>Hello, World.</h5>
                <h1>I'm {{ site.fullname }}.</h1>

                <p class="intro-position">
                    <span>Computer &amp; Software Engineer</span>
                </p>


                {% if page.error404 %}
                    <p class="intro-text"> You found page that doesn't exists!<br>404 Error </p>
                    <a class="button button-primary error404" href="/" title="">Go Home <i class="fa fa-home"></i></a>
                {% else %}
                    <p class="intro-text"> Interests: Machine Learning, Computer Vision, Robotics, Visualization</p>
                    <a class="button stroke smoothscroll" href="#about" title="">More About Me</a>
                {% endif %}


            </div>

        </div>
    </div> <!-- /intro-content -->

    <ul class="intro-social">
        {% include socials.html %}
    </ul> <!-- /intro-social -->

</section> <!-- /intro -->
