<li><a class="insertmailto" target="_blank"><i class="fa fa-paper-plane"></i></a></li>
<li><a href="https://scholar.google.de/citations?user={{ site.gscholar }}" target="_blank"><i class="fa fa-graduation-cap"></i></a></li>
<li><a href="https://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github"></i></a></li>
<li><a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
<li><a href="https://xing.to/{{ site.xing }}" target="_blank"><i class="fa fa-xing"></i></a></li>
