@include keyframes(loadin) {
	0% {
	  opacity: 0;
	  @include transform(translateY(-15px));
	}
	50% {
		color: $accent-color;
	}
	100% {
	  opacity: 1;
	  @include transform(translateY(0px));
    }
}


$loadin-animation-duration: 0.5s;
$loadin-stage-1: 0.35s;
$loadin-stage-2: 0.5s;
$loadin-stage-3: 0.6s;
$loadin-stage-4: 0.7s;
$loadin-stage-5: 0.8s;

@mixin loadin-animation {
	opacity: 0;
	&.animate {
		@content
	}
}

@mixin loadin($start) {
	@include loadin-animation {
		@include animation(loadin #{$loadin-animation-duration} ease-in-out #{$start} both);
	}
}

.loadin-1 {
	@include loadin($loadin-stage-1);
}

.loadin-2 {
	@include loadin($loadin-stage-2);
}

.loadin-3, .loadin-3 .socials__item__link {
	@include loadin($loadin-stage-3);
}

.loadin-4, .loadin-4 .menu__list__item__link {
	@include loadin($loadin-stage-4);
}

.loadin-5 {
    @include loadin($loadin-stage-5);

    h1, h2, h3, h4, h5, h6, p, .footer__copyright {
        @include loadin($loadin-stage-5);
    }
}

.loadin-scale {
	@include loadin-animation {
		@include animation(scale-loadin 0.35s ease-in 0s forwards);
	}
	
	// the default animation at scale 1
	@include keyframes(scale-loadin) {
		from {
			opacity: 1;
			@include transform(scale(0.8))
		}
		to {
			opacity: 1;
			@include transform(scale(1))
		}
	}
}