// - - - - - - - - - - - - - - - - - -

// Socials

// - - - - - - - - - - - - - - - - - -



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Socials

.socials {
	list-style: none;
	margin: 0;
	padding: 0;
}

.socials__item {
	display: inline-block;
	margin-left: 2px;

	&:first-child {
		margin-left: 0;
	}
}

.socials__item__link {
	position: relative;
	display: block;
	border-radius: 100%;
	@include transition(color 0.8s ease-in, background 0.8s ease-in);
	line-height: 1;

	// width: 30px;
	// height: 30px;
	// font-size: 17px;
	width: 40px;
	height: 40px;
	font-size: 20px;

	// @include mq(tabletp) {
	// 	width: 40px;
	// 	height: 40px;
	// 	font-size: 20px;
	// }

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%,-52%);
	}

	background: $socials-color;
	color: $background-color;

	&:hover {
		background: $accent-color;
		color: $background-color;
		@include transition(color 0.3s ease-in, background 0.3s ease-in);
	}

	.socials__header & {
		margin-top: 10px;
		background: $background-color;
		color: $socials-color;

		&:hover {
			color: $accent-color;
		}
	}
}